<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drug.dao.RoleDAO">
  <resultMap id="Role" type="drug.model.Role">
    <id column="roleNo" jdbcType="VARCHAR" property="roleno" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="column">
    roleNo, rolename, remark
  </sql>
  
  <select id="selectList" parameterType="drug.dto.pageModel.PRole" resultMap="Role">
    select 
    	<include refid="column" />
    from role
    <if test="page != null and rows != null">
			limit #{page},#{rows};
	</if>
  </select>
  
  <select id="count" resultType="java.lang.Integer">
    select count(roleNo)
    from role
  </select>
  
   <select id="selectAll" resultMap="Role">
    select 
    	roleNo, rolename
    from role
  </select>
  
  <select id="select" parameterType="java.lang.String" resultMap="Role">
    select 
    <include refid="column" />
    from role
    where roleNo = #{roleno,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String">
    delete from role
    where roleNo in
     <foreach collection="array" open="(" close=")" item="roleno" separator=",">
     	#{roleno,jdbcType=VARCHAR}
     </foreach>
  </delete>
  
  <insert id="insert" parameterType="drug.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleno != null">
        roleNo,
      </if>
      <if test="rolename != null">
        rolename,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleno != null">
        #{roleno,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null">
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="drug.model.Role">
    update role
    <set>
      <if test="rolename != null">
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where roleNo = #{roleno,jdbcType=VARCHAR}
  </update>
</mapper>